#Cooja External Tools (User specific)
#Wed Aug 23 02:49:43 CEST 2017
FRAME_WIDTH=2147483647
LOG_LISTENER_SAVEFILE=/root/guoge/loglistener.txt
SIMCFG_HISTORY=/home/user/contiki/examples/ipv6/rpl-collect/sky-30-R.csc;/home/user/contiki/examples/ipv6/rpl-collect/sky-30-L.csc;/home/user/contiki/examples/ipv6/rpl-collect/c3-d300/l30.csc;/home/user/contiki/examples/ipv6/rpl-collect/c3-d300/sky-30-L.csc;/home/user/contiki/examples/ipv6/rpl-collect/fortest_z1 10nodes.csc;/home/user/contiki/examples/ipv6/rpl-collect/fortest_z1 30nodes.csc;/home/user/contiki/examples/ipv6/rpl-collect/collect-tree-dense-noloss.csc;/home/user/contiki/examples/ipv6/rpl-collect/fortest_z1 2nodes.csc;/home/user/contiki/examples/ipv6/rpl-collect/fortest_z1 30nodes random.csc;/home/user/contiki/examples/ipv6/rpl-collect/fortest_buf_z1 20 LINEAR.csc
COMPILE_LAST_FILE=[CONTIKI_DIR]/examples/hello-world/hello-world.c
LOG_LISTENER_APPENDFILE=/root/loglistener_append.txt
SHOW_QUICKHELP=false
FRAME_HEIGHT=2147483647
FRAME_SCREEN=\:0.0
FRAME_POS_Y=24
FRAME_POS_X=-1
DEFAULT_PROJECTDIRS=
PATH_CONTIKI=/home/user/contiki
